html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: gray;
}

input {
  font-family: "Open Sans", sans-serif;
}

dl, dt, dd {
  display : inline-block;
  margin: 0;
}

dl {
  padding: 1.25em;
}

dd {
  font-weight: bold;
  margin-right: 1em;
  margin-left: 0.5em;

}

input[type="button"] {
  background: rgb(12, 95, 204);
  font-size: 2.5em;
  padding: 0 1em;
  border-radius: 0.25em;
  border: 3px solid rgb(7, 49, 104);
  color: white;
  cursor: pointer;
  font-weight: 600;
  &:active {
    border: 3px solid rgb(12, 95, 204);
    background: rgb(7, 49, 104);  
  }
  &:hover {
    background-color: rgb(12, 143, 204);
  }
}