@keyframes zoom {
  from {
    transform: scale(10);
  } 
  to {
    transform: scale(1);
  }
}

@keyframes squeeze {
  0% {
    top: -1000em;
  }
  50% {
    top: 0em;
  }
  70% {
    top: -10em;
  }
  100% {
    top: 0;
  }
}

@keyframes shake {
  from {
    padding-left : -1em;
  } 
  to {
    padding-left: 1em;
  }
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: gray;
}

#background {
  position: fixed;
  left: 0;
  right : 0;
  top : 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#graph {
  position : fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10em;
  svg {
    width : 100%;
    height : 100%;
    position: absolute;

    .hole-mask {
      stroke-width: 4;
      stroke-dasharray: 6 14;
      stroke-dashoffset: 7;
    }

    .chain {
      stroke-opacity: 1;
      stroke-width: 2;
      stroke-dasharray: 12 8;
      stroke-linecap: round;

      &.normal {
        stroke: white;
      }
      &.hole {
        stroke-width: 8;
        stroke-dasharray: 6 14;
        stroke-dashoffset: 7;
      }
      &.hover {
        stroke: silver;
        filter: drop-shadow(0 0 3px yellow);
      }
      &.bomb {
        stroke: orangered;
      }
      &.correct {
        stroke: yellowgreen;
      }
    }
  } 
}

#guess {
  position: fixed;
  bottom: 5em;
  height: 5em;
  left: 0;
  right: 0;
  z-index: 3;
  border-top : 4px solid black;
  border-bottom : 4px solid black;
  input {
    border: 0;
    width : 100%;
    font-size: 3em;
    padding: 0.25em 0.5em;
    font-weight: 700;
    position: absolute;
    &:focus {
      outline: none;
    }

    &.user-guess {
      z-index: 2;
      background-color: transparent;
      &.shake {
        animation: 0.1s ease normal 5 shake;
      }
    }
    
    &.autocomplete {
      z-index: 1;
      background-color: #eee;
    }
  }
  #keylegend {
    user-select: none;
    position: absolute;
    z-index: 3;
    right: 0;
    margin-top: 0.5em;
    dt {
      font-weight: bold;
      min-width: 1.25em;
      text-align: center;
      background-color: #ddd;
      padding: 0.1em 0.25em;
      border: 4px inset #999;
      border-radius: 0.25em;
    }
    dd {
      font-weight: normal;
    }
  }
}

#restart {
  position: fixed;
  right : 0.5em;
  bottom : 0.5em;
  font-size: 2em;
}

input {
  font-family: "Open Sans", sans-serif;
}

#info {
  position: fixed;
  color: #eee;
  background-color: #444;
  bottom: 0;
  height : 5em;
  left: 0;
  right: 0;
  dt {
    text-shadow: 1px 1px 10px black;
    font-size: 2em;
  }
  dd {
    text-shadow: 1px 1px 5px black;
    font-size: 2em;
  }
}

dl, dt, dd {
  display : inline-block;
  margin: 0;
}

dl {
  padding: 1.25em;
}

dd {
  font-weight: bold;
  margin-right: 1em;
  margin-left: 0.5em;

}

input[type="button"] {
  background: rgb(12, 95, 204);
  font-size: 2.5em;
  padding: 0 1em;
  border-radius: 0.25em;
  border: 3px solid rgb(7, 49, 104);
  color: white;
  cursor: pointer;
  font-weight: 600;
  &:active {
    border: 3px solid rgb(12, 95, 204);
    background: rgb(7, 49, 104);  
  }
  &:hover {
    background-color: rgb(12, 143, 204);
  }
}

dialog {
  animation: 1s normal 1 squeeze;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right : 0;
  border-radius: 1em;
  border: 3px solid gray;
  box-shadow: 0 0 20px black;
  overflow: hidden;
  h1 {
    margin: 0;
    border-bottom : 1px solid gray;
    text-align: center;
    font-size: 4em;
  }
  h2 {
    border-bottom: 1px dashed gray;
  }
  .close {
    position: absolute;
    right : 0;
    border: 1px solid rgb(7, 49, 104);
    background-color: rgb(12, 95, 204);
    color: white;
    font-weight: bold;
    cursor: pointer;
    width : 2em;
    height : 2em;
    line-height: 2em;
    margin-top: -1em;
    text-align: center;
    border-bottom-left-radius: 1em;
    &:hover {
      background-color: rgb(12, 143, 204);
    }
  }
  .buttons {
    display : flex;
    justify-content: space-around;
  }
}

.history {
  div {
    display : block;
    overflow: auto;
    max-height: 10em;
    margin-bottom: 2em;
    background: #eee;

    table {
      text-align: center;
      width : 100%;
      border-collapse: collapse;
      thead {
        position: sticky;
        top: 0;
        background-color: #444;
        font-weight: bold;
        color: #eee;
      }
      th, td {
        padding: 0.1em 0.25em;
      }
      tbody tr:first-of-type {
        background-color: gray;
      }
      .won {
        color: yellowgreen;
        font-weight: bold;
      }
      .lost {
        color: orangered;
        font-weight: bold;
      }
    }
  }
}

.settings {
  fieldset {
    padding: 0.5em 0.25em;
    border : 0;
    display : flex;
    align-items: center;
    label {
      font-weight: bold;
      width : 8em;
    }
    .difficulty-smiley {
      font-size: 2em;
      line-height: 0.5em;
      padding: 0 0.25em;
    }
    input~label {
      font-weight: normal;
    }
  }
}

.rules {
  div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #ddd;
    padding: 0.5em;
    margin-bottom: 1em;
  }
  img {
    width: 250px;
    height: 100px;
  }
  p {
    white-space: pre;
    font-size: 0.85em;
    font-style: italic;
  }
}

.node {
  position: absolute;
  background: white;
  width : 8em;
  height : 8em;
  margin-left: -4em;
  margin-top : -4em;
  border: 3px solid white;
  border-radius: 10em;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 10px black, inset 1px 1px 10px black;
  animation: 0.5s ease normal zoom;
  
  &.start {
    border-color: yellowgreen;
    box-shadow : 1px 1px 10px darkgreen, inset 1px 1px 10px black;
    h3 {
      border-color : yellowgreen;
    }
    p {
      border-color : yellowgreen;
    }
  }

  &.bomb {
    border-color : orangered;
    box-shadow: 1px 1px 10px darkred, inset 1px 1px 10px black;
    h3 {
      border-color : orangered;
    }
    p {
      border-color: orangered;
    }
  }


  h3 {
    font-size: 1em;
    margin-top : 5em;
    margin-bottom : 0;
    padding : 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background-color: rgba(255, 255, 255, 0.75);
    text-wrap: nowrap;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
  }
  p {
    opacity: 0;
    border-bottom: 3px solid white;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
    &:before {
      filter: brightness(0);
      content: "🔗 ";
    }
  }
  &:hover {
    p {
      opacity : 1;
    }
    h3 {
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom-width: 1px;    
    }
  }
}